.chat_main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group 
        = @group.name
        .main-header__left-box__menber-list 
          .main-header__left-box__member-list__member
            = current_user.name
    = link_to new_group_path do
      .main-header__edit-btn Edit
     
  .messages
    = render partial: 'message', collection: @messages
    .message
      .message__upper-info
        .message__upper-info__talker ユーザー名
        .message__upper-info__date 2019/11/21(Thu) 20:07:09
      .message__text こんにちわ
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'